[submodule "Element14_Eagle_Library"]
	url = https://github.com/steakunderscore/eagle-cad-libraries.git
[submodule "Adafruit-Eagle-Library"]
	path = Adafruit-Eagle-Library
	url = https://github.com/adafruit/Adafruit-Eagle-Library.git
[submodule "SparkFun-Eagle-Libraries"]
	path = SparkFun-Eagle-Libraries
	url = https://github.com/sparkfun/SparkFun-Eagle-Libraries.git
[submodule "OPL_Eagle_Library"]
	path = OPL_Eagle_Library
	url = https://github.com/Seeed-Studio/OPL_Eagle_Library.git
